@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
:root {
    --bg-color: #10002b;
    --main-color: #9D4EDD;
    --second-color: #EDAAFF;
}
body {
    background-color: var(--bg-color);
    color: white;
    margin: 0 auto;
    background-image: url(../imgs/home/pattern.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    line-height: 30px;
}
/* header start */
header .container {
    width: 90%;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header .container ul {
    display: none;
    list-style: none;
}
header .container ul a {
    text-decoration: none;
    color: white;
}
header .container ul a:hover {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
}
header .container ul li:not(:last-child) {
    padding-right: 20px;
}
@media (max-width: 768px) {
    header .container img {
        position: relative;
        top: 5px;
    }
}
@media (min-width: 769px) {
    header .container {
        height: 60px;
    }
    header .container ul {
        display: flex;
    }
    header .container span#menu-icon {
        display: none; /* this should be modified when you get start with javascript */
    }
}
@media (min-width: 1200px) {
    header .container {
        width: 70%;
    }
}
/* header end */
/* first section start */
section.first > .container {
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
section.first > .container > h1 {
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 10px;
}
section.first > .container > p {
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: lighter;
}
section.first > .container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.first > .container form input {
    height: 40px;
}
section.first .container form textarea {
    height: 150px;
}
section.first .container form input:not([type="submit"]), section.first .container form textarea {
    width: 80%;
    border: 1px solid var(--main-color);
    background-color: transparent;
    outline: none;
    color: var(--second-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.3s;
}
section.first .container form input:not([type="submit"]):focus, section.first .container form textarea:focus {
    color: white;
    border-color: white;
}
section.first .container form input[type="submit"] {
    width: 150px;
    border: 1px solid transparent;
    background-color: var(--main-color);
    outline: none;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}
section.first .container form input[type="submit"]:hover {
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
    transition: 0.3s;
}
section.first .container form input:not([type="submit"])::placeholder, section.first .container form textarea::placeholder {
    color: white;
    opacity: 0.6;
}
@media screen and (min-width: 769px) {
    section.first > .container {
        height: calc(100vh - 100px);
    }
    section.first > .container > h1 {
        font-size: 35px;
    }
    section.first .container form input:not([type="submit"]), section.first .container form textarea {
        width: 600px;
    }
}
@media screen and (min-width: 1600px) {
    section.first .container form input:not([type="submit"]), section.first .container form textarea {
        width: 700px;
    }
}

/* first section end */

/* footer start */
footer .container {
    padding: 180px 0 40px;
}
footer .container p:not(:last-child) {
    padding-bottom: 15px;
    opacity: 0.6;
}
footer .container p {
    text-align: center;
    font-weight: 200;
}
footer .container p:last-child {
    color: var(--main-color);
    padding-top: 10px;
}
@media screen and (max-width: 400px){
    footer .container p {
        font-size: 4vw;
    }
}
/* footer end */

/* Menu navigation */
header.bg-active {
    background-color: var(--bg-color);
    z-index: 100;
}
header.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}
#menu-icon.inactive {
    display: none;
}
header nav {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    animation: menuAnimation 0.5s ease-out both;
}
header nav.active {
    display: flex;
}
header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header nav ul li {
    display: block;
    padding: 20px;
    cursor: pointer;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
header .container span {
    color: white;
    font-size: 30px;
    cursor: pointer;
    /* display: none; */
    transition: 0.2s;
}
header .container span:hover {
    color: var(--second-color);
}
header .container span#close-icon {
    display: none;
}
header .container span#close-icon.active {
    display: block;
}
@keyframes menuAnimation {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
    }
}